In [1]:
import spacy
import pandas as pd

In [3]:
nlp = spacy.load('en_core_web_sm')

In [7]:
emma_ja = "emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own"
print(emma_ja)

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [9]:
spacy_doc=nlp(emma_ja)

In [11]:
pos_df=pd.DataFrame(columns=['token','pos_tag'])

In [25]:
for token in spacy_doc:
    pos_df=pd.concat([pos_df,
                      pd.DataFrame.from_records([{
                          'token': token.text,
                          'pos_tag': token.pos_}])
                     ], ignore_index=True
                    )

In [27]:
pos_df.head()

       token pos_tag
0       emma   PROPN
1  woodhouse   PROPN
2   handsome     ADJ
3     clever     ADJ
4        and   CCONJ

In [31]:
pos_df_counts=pos_df.groupby(
    ['token','pos_tag']
).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [35]:
pos_df_counts.head()

    token pos_tag  counts
88     of     ADP      42
49    had     AUX      27
54    her    PRON      27
111   the     DET      24
6     and   CCONJ      24

In [45]:
pos_df_poscounts=pos_df_counts.groupby(['pos_tag']) \
['token'].count().sort_values(ascending=False)

In [51]:
pos_df_poscounts.head()

pos_tag
NOUN    35
VERB    19
ADJ     18
ADV     18
PRON     9
Name: token, dtype: int64