In [1]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import spacy
import re
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [3]:
bbc_data = pd.read_csv("bbc_news.csv")

In [6]:
bbc_data.head()

,Unnamed: 0,index,title,pubDate,guid,link,description
0,0,6684,Can I refuse to work?,"Wed, 10 Aug 2022 15:46:18 GMT",https://www.bbc.co.uk/news/business-62147992,https://www.bbc.co.uk/news/business-62147992?a...,With much of the UK enduring another period of...
1,1,9267,'Liz Truss the Brief?' World reacts to UK poli...,"Mon, 17 Oct 2022 11:35:12 GMT",https://www.bbc.co.uk/news/world-63285480,https://www.bbc.co.uk/news/world-63285480?at_m...,The UK's political chaos has been watched arou...
2,2,7387,Rationing energy is nothing new for off-grid c...,"Wed, 31 Aug 2022 05:20:18 GMT",https://www.bbc.co.uk/news/uk-scotland-highlan...,https://www.bbc.co.uk/news/uk-scotland-highlan...,Scoraig in the north west Highlands has long h...
3,3,767,The hunt for superyachts of sanctioned Russian...,"Tue, 22 Mar 2022 14:37:01 GMT",https://www.bbc.co.uk/news/60739336,https://www.bbc.co.uk/news/60739336?at_medium=...,"Wealthy Russians sanctioned by the US, EU and ..."
4,4,3712,Platinum Jubilee: 70 years of the Queen in 70 ...,"Wed, 01 Jun 2022 23:17:33 GMT",https://www.bbc.co.uk/news/uk-61660128,https://www.bbc.co.uk/news/uk-61660128?at_medi...,A quick look back at the Queen's 70 years on t...

In [8]:
bbc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   index        1000 non-null   int64
 2   title        1000 non-null   object
 3   pubDate      1000 non-null   object
 4   guid         1000 non-null   object
 5   link         1000 non-null   object
 6   description  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [10]:
titles=pd.DataFrame(bbc_data['title'])

In [12]:
titles.head()

                                               title
0                              Can I refuse to work?
1  'Liz Truss the Brief?' World reacts to UK poli...
2  Rationing energy is nothing new for off-grid c...
3  The hunt for superyachts of sanctioned Russian...
4  Platinum Jubilee: 70 years of the Queen in 70 ...

In [14]:
titles['lowercase'] = titles['title'].str.lower()

In [16]:
en_stopwords = stopwords.words('english')
titles['no_stopwords'] = titles['lowercase'].apply(
    lambda x: ' '.join([word for word in x.split() if word not in (en_stopwords)])
)

In [24]:
titles['no_stopwords_no_punct'] = titles['no_stopwords'].apply(
    lambda x: re.sub(r"([^\w\s])", "", x)
)

In [22]:
titles['tokens_raw'] = titles['title'].apply(
    lambda x: word_tokenize(x)
)
titles['tokens_clean'] = titles['no_stopwords_no_punct'].apply(
    lambda x: word_tokenize(x)
)

In [26]:
lemmatizer = WordNetLemmatizer()
titles["tokens_clean_lemmatized"] = titles["tokens_clean"].apply(
    lambda tokens: [lemmatizer.lemmatize(token) for token in tokens]
)

In [30]:
titles.head()

,title,lowercase,no_stopwords,no_stopwords_no_punct,tokens_raw,tokens_clean,tokens_clean_lemmatized
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[Can, I, refuse, to, work, ?]","[refuse, work]","[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"['Liz, Truss, the, Brief, ?, ', World, reacts,...","[liz, truss, brief, world, reacts, uk, politic...","[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[Rationing, energy, is, nothing, new, for, off...","[rationing, energy, nothing, new, offgrid, com...","[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[The, hunt, for, superyachts, of, sanctioned, ...","[hunt, superyachts, sanctioned, russian, oliga...","[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[Platinum, Jubilee, :, 70, years, of, the, Que...","[platinum, jubilee, 70, years, queen, 70, seco...","[platinum, jubilee, 70, year, queen, 70, second]"

In [28]:
tokens_raw_list = sum(titles['tokens_raw'], [])
tokens_clean_list = sum(titles['tokens_clean_lemmatized'], [])

In [32]:
nlp=spacy.load('en_core_web_sm')

In [34]:
spacy_doc=nlp(' '.join(tokens_raw_list))

In [36]:
pos_df=pd.DataFrame(columns=['token','pos_tag'])

In [42]:
for token in spacy_doc:
    pos_df=pd.concat([pos_df, pd.DataFrame.from_records(
        [{'token': token.text,
          'pos_tag': token.pos_
         }])], ignore_index=True)

In [46]:
pos_df_counts=pos_df.groupby(
    ['token','pos_tag']
).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [50]:
pos_df_counts.head()

     token pos_tag  counts
95       :   PUNCT     543
8        '   PUNCT     300
2897    in     ADP     187
4082    to    PART     175
3268    of     ADP     172

In [52]:
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"][:10]
print(nouns)

       token pos_tag  counts
4267     war    NOUN      35
3552  record    NOUN      15
3416  police    NOUN      14
4356    year    NOUN      14
4316     win    NOUN      14
3061  living    NOUN      13
4009     tax    NOUN      13
2326     day    NOUN      12
3368  people    NOUN      12
2031    boss    NOUN      11

In [54]:
verbs = pos_df_counts[pos_df_counts.pos_tag == "VERB"][:10]
print(verbs)

       token pos_tag  counts
3687    says    VERB      30
9          '    VERB      14
2670   found    VERB      13
4317     win    VERB      12
4324    wins    VERB      10
2713     get    VERB       9
2388    dies    VERB       9
3990    take    VERB       8
2982  killed    VERB       8
3686     say    VERB       8

In [56]:
adj = pos_df_counts[pos_df_counts.pos_tag == "ADJ"][:10]
print(adj)

        token pos_tag  counts
3244      new     ADJ      28
1400  Russian     ADJ      21
2606    final     ADJ      16
19          -     ADJ      14
2625    first     ADJ      12
3199     more     ADJ      10
1994      big     ADJ       9
2835     high     ADJ       9
3000     last     ADJ       8
3304    other     ADJ       8

In [68]:
spacy_doc_clean=nlp(' '.join(tokens_clean_list))
pos_df_clean=pd.DataFrame(columns=['token','pos_tag'])

for token in spacy_doc_clean:
    pos_df_clean=pd.concat([pos_df_clean, pd.DataFrame.from_records(
        [{'token': token.text,
          'pos_tag': token.pos_
         }])], ignore_index=True)
    
pos_df_clean_counts=pos_df_clean.groupby(
    ['token','pos_tag']
).size().reset_index(name='counts').sort_values(by='counts', ascending=False)

In [64]:
pos_df_clean_counts.head()

        token pos_tag  counts
30       2022     NUM      47
1162  england   PROPN      45
870       cup   PROPN      39
3059      say    VERB      37
3710       uk   PROPN      37

In [66]:
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"][:10]
verbs = pos_df_counts[pos_df_counts.pos_tag == "VERB"][:10]
adj = pos_df_counts[pos_df_counts.pos_tag == "ADJ"][:10]
print(nouns)
print(verbs)
print(adj)

       token pos_tag  counts
4267     war    NOUN      35
3552  record    NOUN      15
3416  police    NOUN      14
4356    year    NOUN      14
4316     win    NOUN      14
3061  living    NOUN      13
4009     tax    NOUN      13
2326     day    NOUN      12
3368  people    NOUN      12
2031    boss    NOUN      11
       token pos_tag  counts
3687    says    VERB      30
9          '    VERB      14
2670   found    VERB      13
4317     win    VERB      12
4324    wins    VERB      10
2713     get    VERB       9
2388    dies    VERB       9
3990    take    VERB       8
2982  killed    VERB       8
3686     say    VERB       8
        token pos_tag  counts
3244      new     ADJ      28
1400  Russian     ADJ      21
2606    final     ADJ      16
19          -     ADJ      14
2625    first     ADJ      12
3199     more     ADJ      10
1994      big     ADJ       9
2835     high     ADJ       9
3000     last     ADJ       8
3304    other     ADJ       8

In [70]:
ner_df = pd.DataFrame(columns=['token', 'ner_tag'])

for token in spacy_doc.ents:
    if pd.isna(token.label_) is False:
        ner_df = pd.concat([ner_df, pd.DataFrame.from_records(
            [{'token': token.text, 'ner_tag': token.label_}])], ignore_index=True)

In [72]:
ner_df.head()

         token   ner_tag
0    Liz Truss    PERSON
1           UK       GPE
2    Rationing   PRODUCT
3  superyachts  CARDINAL
4      Russian      NORP

In [76]:
ner_df_counts = ner_df.groupby(
    ['token','ner_tag']
).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
ner_df_counts.head()

       token ner_tag  counts
965  Ukraine     GPE      47
955       UK     GPE      36
329  England     GPE      32
819  Russian    NORP      20
957       US     GPE      19

In [78]:
people = ner_df_counts[ner_df_counts.ner_tag == "PERSON"][0:10]
places = ner_df_counts[ner_df_counts.ner_tag == "GPE"][0:10]
print(people)
print(places)

             token ner_tag  counts
257          Covid  PERSON       9
760          Queen  PERSON       8
757          Putin  PERSON       8
169  Boris Johnson  PERSON       6
563      Liz Truss  PERSON       6
788    Rishi Sunak  PERSON       5
581         Macron  PERSON       4
762           Quiz  PERSON       4
515   Jurgen Klopp  PERSON       4
325  Emma Raducanu  PERSON       4
         token ner_tag  counts
965    Ukraine     GPE      47
955         UK     GPE      36
329    England     GPE      32
957         US     GPE      19
378     France     GPE      12
226      China     GPE      11
817     Russia     GPE       9
454      India     GPE       8
132  Australia     GPE       7
566     London     GPE       7